$primary-color: #334968;
$font-stack: 'Helvetica Neue', sans-serif;


// text colors
$color-text-white: white;
$color-surface-800: lightgrey;


// breakpoints
$breakpoint-small: 480px;  // Mobile devices
$breakpoint-medium: 768px; // Tablets
$breakpoint-large: 1024px; // Small desktops
$breakpoint-xlarge: 1200px; // Large desktops


// spacing
$spacing-8: 8px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-48: 48px;
$spacing-64: 64px;
$spacing-96: 96px;



