$primary-color: #334968;
$font-stack: 'Helvetica Neue', sans-serif;


// text colors
$color-text-white: #fafafa;
$color-surface-50: #f9fafb;
$color-surface-100: #f3f4f6;
$color-surface-200: #e5e7eb;
$color-surface-300: #d1d5db;
$color-surface-400: #9ca3af;
$color-surface-500: #6b7280;
$color-surface-600: #4b5563;
$color-surface-700: #374151;
$color-surface-800: #1f2937;
$color-surface-900: #111827;



// breakpoints
$breakpoint-small: 480px;  // Mobile devices
$breakpoint-medium: 768px; // Tablets
$breakpoint-large: 1024px; // Small desktops
$breakpoint-xlarge: 1200px; // Large desktops


// spacing
$spacing-8: 8px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-48: 48px;
$spacing-64: 64px;
$spacing-96: 96px;



